<a href="<%= url_for(dog) %>" class="col-lg">
  <article>
    <h2 class="dog-name"><%= dog.name %></h2>
    <%= image_tag url_for(dog.images.first), class: "dog-photo img-fluid", alt: "Photo of #{dog.name}" %>
  </article>
</a>
